@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: Karla;
}

.footer {
    margin-top: auto;
    width: 100%;
    background-color: #EADBC8;
    text-align: center;
}

.footer img {
    width: 10rem;
    height: auto;
    margin: auto;
    padding-top: 2rem;
}

.footer button {
    transition: all 0.5s;
    cursor: pointer;
}

.footer p {
}

.pdf {
    padding-bottom: 2rem;
}
