@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: Karla;
}

.footer {
    margin-top: auto;
    width: 100%;
    background-color: #EADBC8;
    text-align: center;
}

.footer img {
    width: 10rem;
    height: auto;
    margin: auto;
    padding-top: 2rem;
}

.footer button {
    transition: all 0.5s;
    cursor: pointer;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem 0;
}

.footer-social a {
    color: #000000; /* Kuvakkeiden perusväri */
    display: inline-block;
}

.footer-social a:hover {
    color: #ff8f5f; /* Väri kun hiiri viedään päälle */
    transform: translateY(-2px); /* Pieni nosto-efekti */
}

.footer-social svg {
    width: 24px;
    height: 24px;
    display: block;
}

.footer-pdf {
    padding-bottom: 2rem;
    text-decoration: none;
}

.footer-pdf a {
    color: #000000;
    text-decoration: none;
}

.footer-pdf a:hover {
    color: #ff8f5f;
}
