@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: Karla;
}

html, body {
  overflow-x: hidden;
}

.content {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: center;  
    align-items: center;
    text-align: center;       
    gap: 0.7rem;               
    margin-top: 10rem;
    flex-wrap: wrap; 
    font-weight: 500;
    letter-spacing: 0.2rem;
}

.button2 a {
    color: #DAC0A3;
    text-decoration: none;
    font-weight: bold;
}

.button2 a:hover {
    color: #301304
}

.content p {
    font-size: 2rem;
    color: aliceblue; 
}

.content h3 {
    font-size: 2.7rem;
    color: aliceblue;
    margin-bottom: 0.5rem;
    margin-top: 7rem;
    letter-spacing: 0.2rem;
    opacity: 0;
    animation: fadeInTop 1s ease-out forwards;
    text-shadow: 2px 2px 4px #3b3a3a;
}

video{

    background: url("video-fallback.jpg") center center no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    position:fixed;
    object-fit: fill;
    object-position: center center;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
      
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px); 
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes fadeInTop {
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes fadeInBottom {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@media screen and (max-width: 1000px) {
  .videoContainer {
    opacity: 0;
  }

  body {
  /* https://grabient.com/HQJgbAjANKEKwxABmsOBOALDMB2EOAHNqAMxiKFIyma5TUjBJZSbASHpA/ */
  background: linear-gradient(90deg, rgba(218, 197, 116, 1.000) 0.000%, rgba(218, 197, 116, 1.000) 7.692%, rgba(217, 182, 86, 1.000) 7.692%, rgba(217, 182, 86, 1.000) 15.385%, rgba(213, 163, 55, 1.000) 15.385%, rgba(213, 163, 55, 1.000) 23.077%, rgba(208, 143, 23, 1.000) 23.077%, rgba(208, 143, 23, 1.000) 30.769%, rgba(200, 121, 0, 1.000) 30.769%, rgba(200, 121, 0, 1.000) 38.462%, rgba(190, 97, 0, 1.000) 38.462%, rgba(190, 97, 0, 1.000) 46.154%, rgba(178, 72, 0, 1.000) 46.154%, rgba(178, 72, 0, 1.000) 53.846%, rgba(165, 47, 0, 1.000) 53.846%, rgba(165, 47, 0, 1.000) 61.538%, rgba(150, 22, 0, 1.000) 61.538%, rgba(150, 22, 0, 1.000) 69.231%, rgba(134, 0, 0, 1.000) 69.231%, rgba(134, 0, 0, 1.000) 76.923%, rgba(116, 0, 0, 1.000) 76.923%, rgba(116, 0, 0, 1.000) 84.615%, rgba(98, 0, 0, 1.000) 84.615%, rgba(98, 0, 0, 1.000) 92.308%, rgba(80, 0, 0, 1.000) 92.308% 100.000%)
  }

  .content {
  display: grid;
  text-align: center;
  margin-top: -1rem;
  }
} 

@media screen and (max-width: 768px) {

.videoContainer {
  opacity: 0;
}

body {
/* https://grabient.com/HQJgbAjANKEKwxABmsOBOALDMB2EOAHNqAMxiKFIyma5TUjBJZSbASHpA/ */
background: linear-gradient(90deg, rgba(218, 197, 116, 1.000) 0.000%, rgba(218, 197, 116, 1.000) 7.692%, rgba(217, 182, 86, 1.000) 7.692%, rgba(217, 182, 86, 1.000) 15.385%, rgba(213, 163, 55, 1.000) 15.385%, rgba(213, 163, 55, 1.000) 23.077%, rgba(208, 143, 23, 1.000) 23.077%, rgba(208, 143, 23, 1.000) 30.769%, rgba(200, 121, 0, 1.000) 30.769%, rgba(200, 121, 0, 1.000) 38.462%, rgba(190, 97, 0, 1.000) 38.462%, rgba(190, 97, 0, 1.000) 46.154%, rgba(178, 72, 0, 1.000) 46.154%, rgba(178, 72, 0, 1.000) 53.846%, rgba(165, 47, 0, 1.000) 53.846%, rgba(165, 47, 0, 1.000) 61.538%, rgba(150, 22, 0, 1.000) 61.538%, rgba(150, 22, 0, 1.000) 69.231%, rgba(134, 0, 0, 1.000) 69.231%, rgba(134, 0, 0, 1.000) 76.923%, rgba(116, 0, 0, 1.000) 76.923%, rgba(116, 0, 0, 1.000) 84.615%, rgba(98, 0, 0, 1.000) 84.615%, rgba(98, 0, 0, 1.000) 92.308%, rgba(80, 0, 0, 1.000) 92.308% 100.000%)
}


.content {
  display: grid;
  text-align: center;
  margin-top: -2rem;
}

.content p {
  font-size: 2rem;
  text-shadow: 2px 2px 4px #767575;
}

.content h3 {
    font-size: 2rem;
    text-shadow: 2px 2px 4px #767575;
}

.button2 a {
  color: #ff793f;
}

}
