@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: Karla;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.nav {
    height: 8.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #301304;
    position: relative;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255);
    max-width: 100%;
}

.button {
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button a.active {
  font-size: 2rem;
  font-weight: bold;
}

.button a:hover {
  font-weight: bold;
}

.button img{
    width: 10rem;
    height: auto;
    margin: auto 0.5rem;
    padding-left: 3rem;
}

.nav_menu ul {
    margin: auto 1rem;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav_menu ul li {
    list-style: none;
}

.nav_menu ul li a {
    text-decoration: none;
    color: #301304;
    padding: 1rem;
    display: block;
    font-size: 1.75rem;
}

.nav_hamburger {
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.nav_hamburger span {
  height: 3px;
  width: 100%;
  background-color: #DAC0A3;
  border-radius: 5px;
  transition: all 0.3s ease;
}

#nav-links li {
    position: relative;
}

@media screen and (max-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    padding: 0 1rem;
  }

 .button img {
    width: 9.5rem;
    height: auto;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
  }

  .nav_menu ul {
    position: absolute;
    top: 7rem; 
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1100;
  }

  .nav_menu ul li a {
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .nav_menu ul.show {
    opacity: 1;
    pointer-events: auto;
  }

  .nav_hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav_hamburger span {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 1000px) {
 .nav {
    height: 8.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #301304;
    position: relative;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255);
    width: 100%;
}

  .button img {
    padding-left: 0;
    margin-right: 3rem; 
    height: 5.5rem;
  }

  .nav_menu {
    margin-left: auto; 
  }

  .nav_menu ul {
    justify-content: center;
  }
}