@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

html, body {
    margin: 0;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1;
}

.image {
    text-align: center;
    margin: 2rem 0;
}

.tab {
  z-index: 500;
  position: relative;
}
  
.tab-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
    flex-wrap: wrap;
  }
  
.tab-logo {
    max-height: 50px;
    object-fit: contain;
}
  
.tab button {
    margin: 0 0.5rem;
    padding: 0.6rem 1.2rem;
    font-family: Karla;
    font-size: 1.7rem;
    cursor: pointer;
    color: #000000;
    background-color: white;
    border: none;
}
  
.tab button:hover {
    color: #000000;
    border-bottom: 2px solid #000000;
}
  
.tab button.active {
    color: #000000;
    border-bottom: 2px solid #000000;
}
  
.tabcontent {
    display: none;
    padding: 2rem;
    border-top: none;
}

.tabcontent img {
    width: 15rem;
}

.product-layout {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    animation: fadeIn 1s ease-out forwards;
}
  
.product-layout img {
    width: 300px;
    max-width: 100%;
}
  
.product-description {
    max-width: 800px;
    font-family: Karla, sans-serif;
    color: #000000;
}

.product-description h1 {
    font-size: 1.7rem;
}

.pdf {
  background-color: #ffb653;
  max-width: 5.5rem;
  padding: 0.6rem;
  border-radius: 0.3rem;
  display: inline-block;
}

.pdf:hover {
  background-color:#cec1b0;
}

.pdf a {
  text-decoration: none;
  color: white;
}

@media (max-width: 850px) {
    .tab-wrapper {
      flex-direction: column;
      text-align: center;
    }
  
    .tab button {
      font-size: 1.2rem;
      display: flex;
      flex-direction: column;
      margin: auto;
     }
  
    .tabcontent {
      padding: 1rem;
    }
  
    .product-layout {
      flex-direction: column;
      align-items: center;
    }
  
    .product-layout img {
      width: 80%;
      max-width: 300px;
    }
  
    .product-description {
      max-width: 90%;
      text-align: center;
    }

    .pdf {
      margin: auto;
    }
  
    .product-description h1 {
      font-size: 1.5rem;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  
